<ul class="nav justify-content-center bg-dark">
  <li
    class="nav-item"
    *ngFor="let subsection of subsections$ | async">
    <a
      [routerLink]="['/section', iCurrentSection, subsection]"
      class="nav-link  text-white small"
      (click)="subsectionClicked(iCurrentSection, subsection)">{{subsection}}</a>
  </li>
</ul>
