<div *ngIf=false class="container newsheader">
  <div class="row">
    <img src="{{imagePath}}" alt=" News" class="mx-auto d-block">
  </div>
</div>
<div class="container">
  <img class="d-block mx-auto" src="{{imagePath}}" alt="News" width="100" height="100">
</div>
