<div class="container list-group">
    		<a *ngFor="let section of sections$ | async"
            href="#!"
            class="list-group-item list-group-item-action ml-2"
            [routerLink]="['/section', section]"
            routerLinkActive="active"
            (click)="sectionClicked(section)">
    		  {{ section | titlecase }}
    		</a>
</div>
