<div class="card card-body m-t-1" style="background-color: #ffcccc">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <!-- Display "image not found", when multimedia[] is empty" -->
        <img
          *ngIf="cNewsItem.multimedia.length === 0"
          class="d-flex mr-3"
          alt="64x64"
          src="{{notAvailableImage}}"
          style="width: 75px; height: 75px;">

        <!-- Display "the image", when multimedia[] is not empty" -->
        <img
          *ngIf="cNewsItem.multimedia.length > 0"
          class="d-flex mr-3"
          alt="64x64"
          [src]="cNewsItem.multimedia[0].url"
          style="width: 75px; height: 75px;">
      </div>
      <div class="media-body col-md-10">
        <h5 class="card-title">{{cNewsItem.title}}</h5>
        <h6>{{cNewsItem.abstract}}</h6>
        <button type="button" class="btn btn-outline-secondary float-right" data-toggle="modal" data-target="#readMoreModal"
            (click)="openModal()">Read more...</button>

        <!-- Modal -->
        <div class="modal" id="readMoreModal" tabindex="-1" role="dialog" aria-labelledby="readMoreModalLabel" aria-hidden="true"
          [ngStyle]="{'display':display}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title" id="readMoreModalLabel">{{cNewsItem.title}}</h6>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img
                *ngIf="cNewsItem.multimedia[4]"
                class="d-flex mr-3 fit-image"
                alt="{{notAvailableImage}}"
                [src]="cNewsItem.multimedia[4].url">
                  <!-- display only if caption present -->
                  <p *ngIf="cNewsItem.multimedia[2]">
                      {{ cNewsItem.multimedia[2].caption }}
                  </p>
              </div>
              <div class="modal-footer">
                <div class="container">
                  <a class="float-left" href={{cNewsItem.short_url}} target="_blank">Source</a>
                  <button type="button" class="btn btn-default float-right" data-dismiss="modal"
                    (click)="noop(); onCloseHandled()">Close</button>
              </div>
              </div>
            </div><!-- /.modal-content https://www.agiratech.com/angular-typescript-modal-window/ -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal !-->
      </div>
    </div>
  </div>
</div>
