<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-2">
      <app-sections></app-sections>
    </div>
    <div class="col-10">
      <app-header></app-header>
      <app-navbar [iCurrentSection]="currentSection$ | async"></app-navbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
